
    * { 
        box-sizing: border-box; 
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background: #ffffff;
        text-align: center;
    }

    h2 { margin-bottom: 10px; }

    /* Frame Thumbnails */
    .frame-gallery {
        display: flex;
        justify-content: center;
        gap: 15px;
        overflow-x: auto;
        margin-bottom: 30px;
        padding: 20px;
    }
    .frame-item {
        min-width: 200px;
        height: 200px;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(148, 148, 148, 0.12);
        background: white;
    }
    .frame-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Preview area */
    #preview-area {
        width: 320px;
        height: 320px;
        background: #ddd;
        border-radius: 10px;
        margin: 0 auto 15px;
        position: relative;
        overflow: hidden;
        display: none;
        cursor: pointer;
    }

    #user-photo, #selected-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        object-fit: cover;
        display: none;
    }
    #selected-frame { z-index: 3; pointer-events: none; }

    button {
        width: 320px;
        padding: 12px;
        border: none;
        background: green;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        display: none;
        margin: 4px auto;
        font-size: 17px;
    }
    h1,h2{
        color: green;
        font-weight: 900;
    }
    
/* Top Navigation Bar */
.top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 0px 20px;
    margin-bottom: 20px;
    color: white;
    height: 80px;
}

/* Left title */
.nav-left {
    font-size: 22px;
    font-weight: 600;
}

/* Right section */
.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Login button */
.login-btn {
    background: white;
    color: rgb(127, 180, 127);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.login-btn:hover {
    background: #e2ffe2;
}

/* User icon */
.user-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}
.delete-btn {
    width: 80%;
    background: #cd4e4e;
    border: none;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
