
    * { 
        box-sizing: border-box; 
        
    }

    body {
        font-family: Arial, sans-serif;
        background: #0f0000;
        padding: 20px;
        text-align: center;
        margin-inline: 30px;
    }

    h2 { margin-bottom: 10px; }

    /* Frame Thumbnails */
    .frame-gallery {
        display: flex;
        justify-content: center;
        gap: 15px;
        overflow-x: auto;
        margin-bottom: 30px;
        padding: 20px;
    }
    .frame-item {
        min-width: 200px;
        height: 200px;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
        background: white;
    }
    .frame-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Preview area */
    #preview-area {
        width: 320px;
        height: 320px;
        background: #ddd;
        border-radius: 10px;
        margin: 0 auto 15px;
        position: relative;
        overflow: hidden;
        display: none;
        cursor: pointer;
    }

    #user-photo, #selected-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        object-fit: cover;
        display: none;
    }
    #selected-frame { z-index: 3; pointer-events: none; }

    button {
        width: 320px;
        padding: 12px;
        border: none;
        background: rgb(127, 180, 127);
        color: white;
        border-radius: 6px;
        cursor: pointer;
        display: none;
        margin: 4px auto;
    }
    h1,h2{
        color: rgb(127, 180, 127);
    }
    
